<div class="auth-wrapper align-items-stretch">
    <div class="flex-grow-1 wrapper">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <app-card cardTitle="Verificar estado de queja" cardClass="support-bar overflow-hidden"
                        blockClass="p-0" [isCardFooter]="true" footerClass="bg-primary text-white">
                        <div class="p-20 pb-0">
                            <h3 class="m-0">Valide el estado en que se encuentre su queja</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="stringSearch">Número de la queja a buscar</label>
                                    <input type="text" class="form-control" id="stringSearch"
                                        [(ngModel)]="stringSearch">
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-success" (click)="searchComplaint()">Buscar
                                        queja</button>
                                </div>
                            </div>
                            <h2 *ngIf="!!message"
                                [class]="!hasError ? 'mb-3 mt-3 text-c-blue' : 'mb-3 mt-3 text-c-red'">{{message}}</h2>
                        </div>
                        <div class="app-card-footer">
                            <div class="row text-center">
                                <div class="col">
                                    <h4 class="m-0 text-white"></h4>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </app-card>
                </div>
            </div>
        </div>
    </div>
</div>