<ul class="navbar-nav ml-auto">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <span>{{username}}</span>
        </div>
        <ul class="pro-body">
          <li><a (click)="logout()" href="javascript:" class="dropdown-item"><i class="feather icon-lock"></i> Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>