<div class="row">
  <div class="col-md-6">
    <app-card cardTitle="Quejas por año" [options]="false">
      <app-apex-chart chartID="line-chart-1-cac" [chartConfig]="data.years"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Quejas por mes" [options]="false">
      <app-apex-chart chartID="line-chart-2-cac" [chartConfig]="data.months"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-12">
    <app-card cardTitle="Top 10 - Quejas por Comercio" [options]="false">
      <app-apex-chart chartID="line-chart-3-cac" [chartConfig]="data.providers"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-12">
    <app-card cardTitle="Top 10 - Quejas por consumidor" [options]="false">
      <app-apex-chart chartID="line-chart-4-cac" [chartConfig]="data.consumers"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-12">
    <app-card cardTitle="Top 10 - Quejas por departamento" [options]="false">
      <app-apex-chart chartID="line-chart-5-cac" [chartConfig]="data.departments"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-12">
    <app-card cardTitle="Quejas por región" [options]="false">
      <app-apex-chart chartID="pie-chart-6-cac" [chartConfig]="data.regions"></app-apex-chart>
    </app-card>
  </div>
</div>