<div class="auth-wrapper align-items-stretch">
  <div class="flex-grow-1 wrapper">
    <div class="col-sm-12">
      <app-card cardTitle="Spinner" *ngIf="loadDependencies" [options]="false" [hidHeader]="true">
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </app-card>
      <app-card cardTitle="Formulario de queja - DIACO" [options]="false">
        <form action="javascript:" [formGroup]="complaintForm" *ngIf="!complaintCreated">
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="anonymous" (change)="setAnonymous()">
            <label class="custom-control-label" for="anonymous">Anónimo (no requiere información del consumidor)</label>
          </div>
          <div *ngIf="!anonymous" formGroupName="consumer">
            <div class="form-row">
              <div class="col-md-4">
                <div class="form-group">
                  <fieldset class="form-group">
                    <label class="col-sm-4 col-form-label">Nacionalidad</label>
                    <div class="col-sm-12">
                      <div class="form-check" *ngFor="let nacionality of nationalities">
                        <input class="form-check-input" type="radio" name="nationalityId"
                          id="nacionality-{{nacionality.id}}" formControlName="nationalityId"
                          [value]="numberValue(nacionality.id)">
                        <label class="form-check-label"
                          for="nacionality-{{nacionality.id}}">{{nacionality.name}}</label>
                        <small class="text-danger"
                          *ngIf="complaintForm.get('consumer').get('nationalityId').errors?.required ">
                          Este campo es requerido
                        </small>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <fieldset class="form-group">
                    <label class="col-sm-4 col-form-label">Tipo consumidor</label>
                    <div class="col-sm-12">
                      <div class="form-check" *ngFor="let typeConsumer of typeConsumers">
                        <input class="form-check-input" type="radio" name="typeConsumerId"
                          formControlName="typeConsumerId" id="typeConsumer-{{typeConsumer.id}}"
                          [value]="numberValue(typeConsumer.id)">
                        <label class="form-check-label"
                          for="typeConsumer-{{typeConsumer.id}}">{{typeConsumer.name}}</label>
                        <small class="text-danger"
                          *ngIf="complaintForm.get('consumer').get('typeConsumerId').errors?.required ">
                          Este campo es requerido
                        </small>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <fieldset class="form-group">
                    <label class="col-sm-4 col-form-label">Género</label>
                    <div class="col-sm-12">
                      <div class="form-check" *ngFor="let gender of genders">
                        <input class="form-check-input" type="radio" name="genderId" formControlName="genderId"
                          id="gender-{{gender.id}}" [value]="numberValue(gender.id)">
                        <label class="form-check-label" for="gender-{{gender.id}}">{{gender.name}}</label>
                        <small class="text-danger"
                          *ngIf="complaintForm.get('consumer').get('genderId').errors?.required ">
                          Este campo es requerido
                        </small>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="documentId">Documento de identificación</label>
                <input type="text" minlength="8" maxlength="13" class="form-control" id="documentId"
                  formControlName="dpi" placeholder="0000 11111 0000
                " (blur)="searchConsumer()">
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('dpi').errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('dpi').errors?.pattern">
                  El documento de identificación debe ser númerico y tener un mínimo de 8 dígitos y máximo 13
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre">
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('name').errors?.required">
                  Este campo es requerido
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="homePhone">Teléfono domicilio</label>
                <input type="text" minlength="8" maxlength="8" class="form-control" id="homePhone"
                  formControlName="homePhone" placeholder="00001111">
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('homePhone').errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('homePhone').errors?.pattern">
                  El teléfono debe ser de 8 dígitos.
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="phone">Celular</label>
                <input type="text" minlength="8" maxlength="8" class="form-control" id="phone" formControlName="phone"
                  placeholder="11110000">
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('phone').errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('phone').errors?.pattern">
                  El teléfono debe ser de 8 dígitos.
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Correo</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                  placeholder="email@email.com">
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('email').errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('email').errors?.email">
                  Debes ingresar un correo válido
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="address">Dirección</label>
                <input type="text" class="form-control" id="address" formControlName="address">
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('address').errors?.required">
                  Este campo es requerido
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="departament">Departamento</label>
                <select id="departament" class="form-control" formControlName="departmentId"
                  (change)="selectConsumerDepartment($event)">
                  <option selected>Seleccionar departamento</option>
                  <option value="{{department.id}}" *ngFor="let department of departments">{{department.name}}</option>
                </select>
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('departmentId').errors?.required">
                  Este campo es requerido
                </small>
              </div>
              <div class="form-group col-md-4">
                <label for="municipality">Municipio</label>
                <select id="municipality" formControlName="municipalityId" class="form-control">
                  <option selected>Seleccionar municipio</option>
                  <option value="{{municipality.id}}" *ngFor="let municipality of municipalities">{{municipality.name}}
                  </option>
                </select>
                <small class="text-danger" *ngIf="complaintForm.get('consumer').get('municipalityId').errors?.required">
                  Este campo es requerido
                </small>
              </div>
            </div>
            <h5 class="text-warning">Si su información no se encuentra correcta, envíe la información a correcta a
              administracion@diaco.com.gt</h5>
          </div>

          <div id="business" formGroupName="provider">
            <h5 class="mt-5">Datos del comercio</h5>
            <hr>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nit">Nit</label>
                <input type="text" minlength="8" maxlength="8" class="form-control" id="nit" formControlName="nit"
                  placeholder="0000000" (blur)="searchProvider()">
                <small class="text-danger" *ngIf="complaintForm.get('provider').get('nit').errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger" *ngIf="complaintForm.get('provider').get('nit').errors?.pattern">
                  El Nit debe ser númerico y tener un mínimo de 8 dígitos y máximo 8
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="tradeName">Nombre</label>
                <input type="text" class="form-control" id="tradeName" formControlName="name"
                  placeholder="Cafetería Quetzal">
                <small class="text-danger" *ngIf="complaintForm.get('provider').get('name').errors?.required">
                  Este campo es requerido
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="businessName">Razón social</label>
                <input type="text" class="form-control" id="businessName" formControlName="businessName"
                  placeholder="Cafetería, S.A.">
                <small class="text-danger" *ngIf="complaintForm.get('provider').get('businessName').errors?.required">
                  Este campo es requerido
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="businessPhone">Teléfono</label>
                <input type="text" class="form-control" minlength="8" maxlength="8" id="businessPhone"
                  formControlName="phone">
                <small class="text-danger" *ngIf="complaintForm.get('provider').get('phone').errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger" *ngIf="complaintForm.get('provider').get('phone').errors?.pattern">
                  El teléfono debe ser de 8 dígitos.
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="businessEmail">Correo</label>
                <input type="email" class="form-control" id="businessEmail" formControlName="email"
                  placeholder="email@business.com">
                <small class="text-danger" *ngIf="complaintForm.get('provider').get('email').errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger" *ngIf="complaintForm.get('provider').get('email').errors?.email">
                  Debes ingresar un correo válido
                </small>
              </div>
            </div>
            <h5 class="text-warning">Si la información del comercio no se encuentra correcta, envíe la información a
              correcta a administracion@diaco.com.gt</h5>
          </div>

          <div id="complain">
            <h5 class="mt-5">Queja</h5>
            <hr>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="invoiceNumber">Document (Factura)</label>
                <input type="text" class="form-control" id="invoiceNumber" formControlName="invoiceNumber"
                  placeholder="FAC-00001">
                <small class="text-danger" *ngIf="complaintForm.controls.invoiceNumber.errors?.required">
                  Este campo es requerido
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="invoiceDate">Fecha del documento</label>
                <input type="date" class="form-control" id="invoiceDate" formControlName="invoiceDate"
                  placeholder="01/01/2021">
                <small class="text-danger" *ngIf="complaintForm.controls.invoiceDate.errors?.required">
                  Este campo es requerido
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="departament">Departamento</label>
                <select id="departament" class="form-control" formControlName="departmentId"
                  (change)="selectComplaintDepartament($event)">
                  <option selected>Seleccionar departamento</option>
                  <option value="{{department.id}}" *ngFor="let department of complaintDepartments">{{department.name}}
                  </option>
                </select>
                <small class="text-danger" *ngIf="complaintForm.controls.departmentId.errors?.required">
                  Este campo es requerido
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="municipality">Municipio</label>
                <select id="municipality" formControlName="municipalityId" class="form-control">
                  <option selected>Seleccionar municipio</option>
                  <option value="{{municipality.id}}" *ngFor="let municipality of complaintMunicipalities">
                    {{municipality.name}}
                  </option>
                </select>
                <small class="text-danger" *ngIf="complaintForm.controls.departmentId.errors?.required">
                  Este campo es requerido
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="businessAddress">Dirección</label>
                <textarea class="form-control" id="complaintDetail" formControlName="address"
                  placeholder="Centro comercial Santa Clara, 6ta. ave" rows="2"></textarea>
                <small class="text-danger" *ngIf="complaintForm.controls.address.errors?.required">
                  Este campo es requerido
                </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="complaintDetail">Detalle de queja</label>
                <textarea class="form-control" id="complaintDetail" formControlName="complaintDetail"
                  rows="3"></textarea>
                <small class="text-danger" *ngIf="complaintForm.controls.complaintDetail.errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger"
                  *ngIf="complaintForm.controls.complaintDetail.errors?.maxlength || complaintForm.controls.complaintDetail.errors?.minlength">
                  El detalle de la queja debe tener un mínimo de 25 y máximo 250
                </small>
              </div>
              <div class="form-group col-md-6">
                <label for="complaintRequest">Solicito que</label>
                <textarea class="form-control" id="complaintRequest" formControlName="complaintRequest"
                  rows="3"></textarea>
                <small class="text-danger" *ngIf="complaintForm.controls.complaintRequest.errors?.required">
                  Este campo es requerido
                </small>
                <small class="text-danger"
                  *ngIf="complaintForm.controls.complaintRequest.errors?.maxlength || complaintForm.controls.complaintRequest.errors?.minlength">
                  El detalle de la queja debe tener un mínimo de 25 y máximo 250
                </small>
              </div>
            </div>
          </div>
          <app-toast uID="toast6" toastTitle="Nueva alerta" toastCaption="" toastClass="m-b-10">
            {{toastMessage}}
          </app-toast>
          <button type="submit" class="btn btn-primary" [disabled]="complaintForm.invalid" (click)="createComplaint()">Crear queja</button>
          <small class="text-danger" *ngIf="complaintForm.invalid">
            Revisa que toda la información este ingresada y correcta
          </small>
        </form>
        <div class="col-md-12" *ngIf="complaintCreated">
          <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-blue">
            <div class="row align-items-center">
              <div class="col-12">
                <h4 class="text-c-blue">Tu queja ha sido credada correctamente. &nbsp; <i class="feather icon-check f-28"></i> </h4>
              </div>
            </div>
            <div class="app-card-footer">
              <div class="row align-items-center">
                <div class="col-3 text-left">
                </div>
                <div class="col-6">
                  <button type="submit" class="btn btn-success" (click)="createNewComplaint()">Crear nueva
                    queja</button>
                </div>
                <div class="col-3 text-right">
                </div>
              </div>
            </div>
          </app-card>
        </div>
      </app-card>
    </div>
  </div>


</div>